#logo{
    display: flex;
}
h2{
    
    text-align: center;
}
h2{
    text-align: center;
}
#parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    /* border: 1px solid red; */
    gap: 20px;
    
}

#parent>div{
    text-align: center;
}
h4, p{
    margin: 0%;
}
img{
    max-width: 100%;
}
@media all and (max-width:520px){
    #parent{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, auto);
    }
}