#parent{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}
#parent>div{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#parent>div>div{
    display: flex;
    justify-content: space-between;
}
@media all and (min-width:320px) and (max-width:520px){
    #parent{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, auto);
    }


}
@media all and (max-width:750px){
    #parent{
        grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    }
}